head
	title Luo uusi lasku - Genvoice
	link(rel="stylesheet", type="text/css", href="/siimple.min.css")
	link(rel="stylesheet", type="text/css", href="/style.css")
body
	#root
	script(src="/bundle.js")