extends layout/index

block content
	h1 Uusi lasku
	form#invoice-form
		label Otsikko
			input#title(type="text")
		label Maksuehto
			input#term(type="text")
		hr

		h2 Lähettäjä
		div#sender
			label Nimi
				input.name(type="text")
			label Osoite
				input.address(type="text")
			label Postinumero
				input.zip(type="text")
			label Paikkakunta
				input.city(type="text")
			label Maa
				input.country(type="text")
			label Sähköposti
				input.email(type="text")
			label Y-tunnus
				input.business_id(type="text")

			h3 Pankkitiedot
			label Saajan nimi
				input.fullname(type="text")
			label IBAN
				input.iban(type="text")
			label BIC
				input.bic(type="text")
			hr

		h2 Vastaanottaja
		div#recipient
			label Nimi
				input.name(type="text")
			label Osoite
				input.address(type="text")
			label Postinumero
				input.zip(type="text")
			label Paikkakunta
				input.city(type="text")
			label Maa
				input.country(type="text")
			label Sähköposti
				input.email(type="text")
			label Y-tunnus
				input.business_id(type="text")
			hr

		h2 Tuotteet
		.items
			.item
				label Tuotenimike/kuvaus
					input.name(type="text")
				label Kappalehinta
					input.price(type="text")
				label Vero %
					input.tax(type="text")
				label Määrä
					input.amount(type="text")
				label Yksikkö
					input.unit(type="text")
		hr
		button Luo lasku
