
#app {
	position: relative;
}

ul.products {
	padding: 0;
	margin: 0;
}

ul.products li {
	display: block;
}

.button-edit {
	margin-left: 1em;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1em 0 2em 0;
}

.button {
	margin-right: 1em;
}

.brand {
	font-size: 4em;
}

.logout-btn {
	margin: 0;
}

.fade-enter {
	opacity: 0;
	transition: all 0.1s;
}

.fade-enter.fade-enter-active {
	opacity: 1;
}

.fade-leave {
	opacity: 1;
	transition: all 0.3s;
}

.fade-leave.fade-leave-active {
	opacity: 0;
}

.loader-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	flex-flow: column nowrap;
}

.loader-overlay.visible {
	display: flex;
}

.loader-message {
	font-size: 2em;
	padding: 0.6em;
}

.loader {
	width: 8em;
	height: 8em;
}