#app {
	position: relative;
}

ul.products {
	padding: 0;
	margin: 0;
}

ul.products li {
	display: block;
}

.btn-outline.btn-red {
	color: #d32f2f;
	border-color: #d32f2f;
}

.btn-outline.btn-red:hover {
	color: #fff;
	background-color: #d32f2f;
}

.top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1em 0 2em 0;
}

.brand {
	font-size: 2em;
}

.logout-btn {
	margin: 0;
}

.notification {
	position: absolute;
}

.fade-enter {
	opacity: 0;
	transition: all 0.1s;
}

.fade-enter.fade-enter-active {
	opacity: 1;
}

.fade-leave {
	opacity: 1;
	transition: all 0.3s;
}

.fade-leave.fade-leave-active {
	opacity: 0;
}

.form-input.error {
	border-color: #d32f2f;
}